<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>AngularJS</title>
	<!-- Bootstrap -->
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300,200' rel='stylesheet' type='text/css'>	
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/font-awesome.min.css" rel="stylesheet">
	<link href="css/animate.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<!-- Script -->
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="js/jquery.min.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="js/bootstrap.min.js"></script>
	<script src="js/angular.min.js"></script>
	<script src="controller.js"></script>
</head>
<body class="ng-scope" data-ng-init="init()" data-ng-controller="PostController" data-ng-app="postModule">
<input id="base_path" type="hidden" value="http://localhost/angular-crud-php/">
<div class="container">
	<h2 class="title text-center">AngularJS Insert Update Delete Using PHP MySQL</h2>

	<div class="row mt80">
		<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4 animated fadeInDown">
				<div style="display: none" role="alert" class="alert alert-danger text-center alert-failure-div">
					<p></p>
				</div>
				<div style="display: none" role="alert" class="alert alert-success text-center alert-success-div">
					<p></p>
				</div>
				<form name="userForm" novalidate="" class="ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-valid-email">
					<div class="form-group">
						<label for="exampleInputEmail1">Name</label> 
						<input type="text" data-ng-model="tempUser.name" placeholder="Name" name="name" id="name" class="form-control ng-pristine ng-invalid ng-invalid-required ng-valid-minlength ng-touched" required="" data-ng-minlength="3">
						<span data-ng-show="userForm.name.$invalid &amp;&amp; userForm.name.$dirty" class="help-block error ng-binding ng-hide">
							Please enter name
						</span>
					</div>
					<div class="form-group">
						<label for="exampleInputEmail1">Email</label> 
						<input type="email" data-ng-model="tempUser.email" placeholder="Email" name="email" id="email" class="form-control ng-pristine ng-untouched ng-valid-email ng-invalid ng-invalid-required ng-valid-minlength" required="" data-ng-minlength="3">
						<span data-ng-show="userForm.email.$invalid &amp;&amp; userForm.email.$dirty" class="help-block error ng-binding ng-hide">
							Please enter email
						</span>
					</div>
					<div class="form-group">
						<label for="exampleInputPassword1">Company Name</label>  
						<input type="text" data-ng-model="tempUser.companyName" placeholder="Company Name" name="company_name" id="company_name" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-minlength" required="" data-ng-minlength="3">
						<span data-ng-show="userForm.company_name.$invalid &amp;&amp; userForm.company_name.$dirty" class="help-block error ng-binding ng-hide">
							Please enter company name
						</span>
					</div>
					<div class="form-group">
						<label for="exampleInputFile">Designation</label> 
						<input type="text" data-ng-model="tempUser.designation" placeholder="designation" name="designation" id="designation" class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required ng-valid-minlength" required="" data-ng-minlength="3">
						<span data-ng-show="userForm.designation.$invalid &amp;&amp; userForm.designation.$dirty" class="help-block error ng-binding ng-hide">
							Please enter designation
						</span>
					</div>
					<!-- <input type="hidden" data-ng-model='tempUser.id'>  -->
					<div class="text-center">
						<button data-ng-click="addUser()" class="btn btn-save" type="submit" ng-hide="tempUser.id" data-loading-text="Saving User..." ng-disabled="userForm.$invalid" disabled="disabled">Save User</button>
						<button data-ng-click="updateUser()" class="btn btn-save ng-hide" type="submit" ng-hide="!tempUser.id" data-loading-text="Updating User..." ng-disabled="userForm.$invalid" disabled="disabled">Update User</button>
					</div>
					
				</form>
				<div class="clearfix"></div>
				
		</div>
		<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8 animated fadeInUp">
			<div class="table-responsive">
				<table class="table table-bordered table-hover table-striped">
					<thead>
						<tr>
							<th width="5%">#</th>
							<th width="20%">Name</th>
							<th width="20%">Email</th>
							<th width="20%">Company Name</th>
							<th width="15%">designation</th>
							<th width="20%">Action</th>
						</tr>
					</thead>
					<tbody>
						<tr class="ng-scope" data-ng-repeat="user in post.users | orderBy : '-id'">
							<td>{{ user.id }}</th>
						    <td>{{ user.name }}</td>
						    <td>{{ user.email }}</td>
						 	<td>{{ user.companyName }}</td>
						 	<td>{{ user.designation }}</td>
						 	<td><span data-ng-click="editUser(user)"> Edit</span>|<span data-ng-click="deleteUser(user)">Delete</span></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>

</body>
</html>